<div class="container">
    <div class="row justify-content-md-center">
        <div class="col ">
        </div>
        <div class="col">
            <form (ngSubmit)="forget(forgetForm)" action="token" method="post" #forgetForm="ngForm" autocomplete="off">
                <div class="card">
                    <div class="card-block">
                        <!--Header-->
                        <div class="text-center">
                            <h3><i class="fa fa-lock"></i> Request password</h3>
                            <hr class="mt-2 mb-2">
                        </div>

                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" name="email" required id="form2" class="form-control" ngModel>
                            <label for="form2">Your email</label>
                        </div>

                        <div class="text-center">
                            <button type="submit" name="login" class="btn btn-secondary btn-lg waves-effect waves-light">Login</button>
                        </div>

                    </div>

                    <!--Footer-->
                    <div class="modal-footer">
                        <div class="options">
                            <p>Want to <a routerLink="/signin">Login?</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>