<div class="card card-cascade cascading-admin-card action-btn" role="document">
    <div class="admin-up">
        <i class="fa fa-pie-chart {{ color[category.id] }}"></i>
        <div class="data">
            <p>{{category.description}}</p>
            <h2>{{category.name}}</h2>
        </div>
    </div>
    <div class="card-block">
        <div class="card-footer">
            <span class="left">{{ category.products.length }} products</span>
            <span class="right">
                    <a  (click)="categoryDetail(category)" ><i class="fa fa-eye"></i></a>
                    <a  (click)="editCate(category)" ><i class="fa fa-pencil" data-toggle="modal" data-target="#addCategoryModal"></i></a>
                    <a  (click)="removeCate(category)"><i class="fa fa-remove" data-toggle="modal" data-target="#centralModalWarning"></i></a>
                </span>
        </div>
    </div>
</div>