<div class="container animated fadeIn admin-panel">
    <div class="row">
    </div>
    <div class="jumbotron col ">
        <a class="btn btn-default btn-sm" (click)="adduserDialog()" data-toggle="modal" data-target="#editModal" role="button">Add user</a>
        <div class="card-block pt-0">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="primary-color">
                            <th>#</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <th scope="row">{{user.id}}</th>
                            <td>{{user.firstname}}</td>
                            <td>{{user.lastname}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role.name}}</td>
                            <td *ngIf="user.isBlocked"><span class="badge badge-danger">Is Blocked</span></td>
                            <td *ngIf="!user.isBlocked"><span class="badge badge-primary">Is Activated</span></td>
                            <td *ngIf="user.roleId!=4" class="center-group">
                                <a class="blue-text" (click)="info(user)" data-toggle="modal" data-target="#editModal"><span class="badge badge-info">View</span></a>
                                <a class="teal-text" (click)="edit(user)" data-toggle="modal" data-target="#editModal">
                        <span class="badge badge-warning">Edit</span></a>
                                <a>
                        <span class="badge badge-danger" *ngIf="!user.isBlocked" (click)="showModalBlock(user,false)" data-toggle="modal" data-target="#centralModalWarning" >Block</span>
                        <span class="badge badge-primary" (click)="active(user)" *ngIf="user.isBlocked">Active</span>
                         </a>
                                <a class="teal-text" (click)="showModalBlock(user,true)" data-toggle="modal" data-target="#centralModalWarning">
                        <span class="badge badge-danger">Remove</span></a>
                            </td>
                            <td *ngIf="user.roleId==4">
                                <a>
                        <span class="badge badge-primary">Admin</span>
                    </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<user-detail (outputEvent)="updateDate()" [isAdd]="isAdd" data-backdrop="static" id="editModal" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" role="dialog" *ngIf="userSelected" [user]="userSelected"
    [isView]="isView"></user-detail>

<div *ngIf="userFocus" class="modal fade" id="centralModalWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div [ngClass]="{'modal-dialog modal-notify':true, 'modal-warning' : !isRemove , ' modal-danger':isRemove}" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Warning</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <h2 *ngIf="!isRemove">Do you want block account has email address: {{userFocus.email}} ?</h2>
                    <h2 *ngIf="isRemove">Do you want remove account has email address: {{userFocus.email}} ?</h2>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a *ngIf="!isRemove" type="button" class="btn btn-primary-modal" data-dismiss="modal" (click)="block(userFocus)">Yes</a>
                <a *ngIf="isRemove" type="button" class="btn btn-primary-modal" data-dismiss="modal" (click)="remove(userFocus)">Yes</a>
                <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>